@page "/showcase"

<div class="showcase_page">

    <div class="col-9 showcase_items">
        Chat ...

    </div>

    <div class="col-3 sidebar_items">

        <div></div>

    </div>





</div>

@code {

}
