

.pg-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}

.title{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    padding:5px;
}

.pg-header {
    width: 100%;
    height: 42px;
    background-color: whitesmoke;
}
.pg-body {
    position:relative;
    display:flex;
    flex-direction:row;

    width: 100%;
    flex-grow: 1;

    background-color: white;
    padding: 5px;

    border-top: 1px solid rgba(80,80,80,.2);
    border-bottom: 1px solid rgba(80,80,80,.2);
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

    .pg-body > .body_content{
        position:relative;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        width:100%;
        height:100%;
        background-color:yellow;
    }

    .pg-footer {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: whitesmoke;
        
    }

    .pg-footer  > .pg-controls {
        position:relative;
        gap:5px;
    }

.pg-controls > button {
    border:1px solid rgba(80,80,80,.2);
    border-radius:50px;
    background-color:#f8f8f8;
    color:black;
}

.pg-total-val {
    font-size: 13px;
    border: 1px solid rgba(80,80,80,.2);
    border-radius :50%;
    height: 25px;
    width: 25px;
}
    .pg-total-val:hover{
        background-color:navajowhite;
    }

    .pg-values {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }



.pg-btns{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width : 150px;
    height:40px;
}
.next {
    position: relative;
    width: 50px;
    height: 35px;
    border: 1px solid rgba(80,80,80,.2);
    background-color: whitesmoke;
    border-start-end-radius: 45%;
    border-end-end-radius: 45%;
}


.back {
    position: relative;
    width: 50px;
    height: 35px;
    border: 1px solid rgba(80,80,80,.2);
    background-color: whitesmoke;
    border-start-start-radius: 45%;
    border-end-start-radius: 45%;
}
    .back:hover {
        background-color: wheat;
        height: 40px;
    }
    .next:hover {
        background-color: wheat;
        height:40px;
    }



.current {
    position: absolute;
    width: 100px;
    height: 45px;
    border: 1px solid rgba(80,80,80,.2);
    background-color: whitesmoke;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.pg-num-val {

    width: 30px;
    height: 30px;
    border: 1px solid rgba(80,80,80,.2);
    border-radius:50%;
}

    .pg-num-val:hover {
        background-color: wheat;
    }
