
*{
    box-sizing:border-box;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    padding: 10px;
}

.profile {
    width: 600px;
    display:flex;
    flex-direction:column;
    height: 100%;
    background-color: wheat;
    border: 1px solid rgba(80,80,80,.2);
    border-radius: 10px;
    box-shadow:-5px 0px 5px rgba(80,80,80,.2);
    padding:10px;
}

    .profile > .info{
        display:flex;
        flex-direction:row-reverse;
        width:100%;
        height:200px;
    }

    .profile > .description {
        width:100%;
        flex-grow:1;
        background-color:transparent;
        overflow-y:auto;
    }

    .profile > .controls {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info > .logo {
        height: 200px;
        width: 200px;
        background-color: whitesmoke;
        border: 1px solid rgba(80,80,80,.2);
        border-radius: 50%;
    }
    .info > .user-data {
        flex-grow:1;
        height:100%;
        background-color:transparent;
    }

