@page "/pg"

@inherits PaginationViewHandler

<div class="pg-container">

    @if(!string.IsNullOrWhiteSpace(Title)) {
        <div class="title">@Title</div>
    }    
    @if(ShowSearchBar) {
        <div class="pg-header center">
            <div class="search-bar center">
                <div class="search-col-btn center">
                    <button class="search-btn center">S</button>
                </div>
                <div class="search-col-txt center">
                    <input class="search-input " />
                </div>
            </div>
        </div>
    }
  

    <div class="pg-body"> @ChildContent</div>
    <div class="pg-footer center">


        <div class="pg-controls center">

            <div class="pg-btns">
                <button class="back" @onclick="Decrease">
                    <div class=" next-btn"></div>
                </button>
                <button class="current" style="width:100px;">
                    <div class="pg-values center">
                        <div class="pg-total-val center" @onclick="()=> SetPage(1)">@CurrentPage</div>/
                        <div class="pg-total-val center" @onclick="()=> SetPage(TotalPage)">@TotalPage</div>
                    </div>
                </button>
                <button class="next" @onclick="Increase">
                    <div class=" next-btn"></div>
                </button>
            </div>
          

        </div>
    </div>




</div>
