@page "/Chats/Requests"

<div class="chat-requests">
    <div class="header center">
        <button class="header-btn">گزارشات</button>
        <button class="header-btn">ارسال شده ها</button>
        <button class="header-btn">دریافت شده ها</button>
    </div>
    <div class="request-search">
        <button class="search-btn center">S</button>
        <input class="search-input" />       
    </div>
    <div class="request-items">
      
        <div class="request-item center  mt-2">
            <div class="item-logo"></div>
            <div class="item-info center">
                <div class="item-name">Ali بابا 55</div>
                <div class="item-footer">
                    <div class="item-history center-end">1402/8/5</div>
                    <div class="item-controls">
                        <button class="item-btn">1</button>
                        <button class="item-btn">1</button>
                        <button class="item-btn">1</button>
                    </div>
                </div>

            </div>       
        </div>
    </div>
</div>


@code {

}
