
@inject NavigationManager _navManager
@inject UserSelectionObserver _itemTransferSelected

<div class="chat_sidebar">
    <div class="title" @onclick="GoToShowcase">Showcase</div>
    <div class="chat_item @(_cloudItem == _selectedItem ? "selected" : "")" @onclick="()=> SelectItem(_cloudItem)">
        <div class="chat_item_logo">
            <div>img</div>
        </div>
        <div class="chat_item_name">فضای ابری</div>
    </div>
    <div class="chat_items">
        @foreach(var item in _chatAccounts) {
            <div class="chat_item @(item==_selectedItem ? "selected" : "")" @onclick="()=> SelectItem(item)">
                <div class="chat_item_logo">
                    @if(item.UnReadMessages > 0) {
                        @WhenOver100(item.UnReadMessages)
                    }
                    else {
                        <div>img</div>
                    }
                    <div class="chat_item_status"></div>
                </div>
                <div class="chat_item_name"> @item.FullName</div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthStateAsync { get; set; } = null!;


    private void GoToShowcase() => _navManager.NavigateTo("/showcase");
    private ChatAccountDto _cloudItem = new() { FullName = "فضای ابری" };
    private ChatAccountDto? _selectedItem = null;

    private async Task SelectItem(ChatAccountDto model) {
        _selectedItem = model;
        await OnChangeItemSelected.InvokeAsync(_selectedItem);
    }

    private LinkedList<ChatAccountDto> _chatAccounts = new();
    private string WhenOver100(int number) => number >= 100 ? "99+" : number.ToString();

    protected override async Task OnInitializedAsync() {
       
        _chatAccounts.AddLast(new ChatAccountDto { FullName = "Masoud" });
        _chatAccounts.AddLast(new ChatAccountDto { FullName = "علی" });
        _chatAccounts.AddLast(new ChatAccountDto { FullName = "مسعود1" , UserId = Guid.Parse("179161aa-955b-46c7-8ff6-5598450d4088") });
        _chatAccounts.AddLast(new ChatAccountDto { FullName = "Nima" , UnReadMessages = 5000 });


        UserBasicInfoDto? data = _itemTransferSelected.Item;
        if(data is not null) {
            var model = new ChatAccountDto { FullName = data.DisplayName , LogoUrl = data.ImageUrl , UserId = Guid.Parse(data.Id)};
            var currentValue = _chatAccounts.Where(x=> x.UserId == model.UserId).FirstOrDefault();
            if(currentValue is null) {
                _chatAccounts.AddFirst(model);
            }
            else {
                _chatAccounts.Remove(currentValue);
                _chatAccounts.AddFirst(model);
            }     
            await SelectItem(model);
        }
        else {
            var userId = (await AuthStateAsync).User.Claims.Where(x => x.Type == "UserIdentifier").FirstOrDefault()?.Value ?? "";
            var model = new ChatAccountDto {
                    FullName = "فضای ابری" ,
                    LogoUrl = "" ,
                    UserId = Guid.Parse(userId)
                };
            _cloudItem = model;
            await SelectItem(model);
        }
        
    }

    [Parameter]
    public EventCallback<ChatAccountDto> OnChangeItemSelected { get; set; }
}
