@inherits LayoutComponentBase
@inject NavigationManager _navManager
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div>
            @Body
        </div>
    </main>
</div>

@code{

}
